<body>
<div ng-app="rcapp">
<div ng-controller="bookDetailsclr">


<center><h1>Book Details</h1></center><hr>


<center><h2>{{book.volumeInfo.title}}</h2></center>
<center><h3>Authors</h3></center>
<center ng-repeat="person in book.volumeInfo.authors">{{person}}</center></br>
<center>Publisher : {{book.volumeInfo.publisher}}</center></br>
<center>ISBN : {{book.volumeInfo.industryIdentifiers[0].identifier}}</center></br>

<center>Description : {{book.volumeInfo.description}}</center>
<center><img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="W3Schools.com"></center></br> 
<table>
    <tr>
        <th>Accesion Number</th>
        <th>Issue Status</th>
    </tr>
    <tr ng-repeat="person in myResult">
        <td>{{person.accessionNumber}}</td>
    </tr>
</table>

<center><button type="button" class="btn btn-primary" ng-click="homeback()">Back</button></td></tr></center></tr>
</div>
</div>
</body>