<br>
<div ng-controller="homeclr">
		<center><input type="text" ng-model="searchBook" placeholder="Search for Books" style="height: 40px; margin: 0px 31px; padding: 0px 15px;width: 300px;"></center>
			<br>
		  <center><button type="button" class="btn btn-primary" ng-click="search()">Search</button></center>

<br>

<h1><center>User LogIn</center></h1>
<table>
	<tbody>
		<tr><p><center>User Name: <input type="text" ng-model="username"></center></p></tr>
		<tr><p><center>Password: <input type="text" ng-model="password"></center></p></tr>
		<center>
		<tr><p><center><button type="button" class="btn btn-primary" ng-click="profile()">LogIn</button></center></p></tr>
	</tbody>
</table>	

</div>