<body>
<div ng-controller="homeclr">
	<center><input type="text" ng-model="searchBook" placeholder="Search for Books" style="height: 40px; margin: 0px 31px; padding: 0px 15px;width: 300px;"></input></center>
	
	<center><button type="button" class="btn btn-primary" ng-click="search()">Search</button></center>

	<h1><center>User LogIn</center></h1>
	<table>
		<tr><p><center>User Name: <input type="text" ng-model="username"></input></center></p></tr>
		<tr><p><center>Password: <input type="password" ng-model="password"></input></center></p></tr>
		<tr><p><center><button type="button" class="btn btn-primary" ng-click="profile()">LogIn</button></center></p></tr>
	</table>	
</div>
</body>