<div ng-controller="profileclr">
	<center><h1>Other Student's Profile</h1></center>

	<table border="1">
		<tr><td>User Name:</td><td>Parag Chauhan</td></tr>
		<tr><td>ID:</td><td>201301085</td></tr>
	</table>
	
	<h2>Issued Book History</h2>
		<table border="1">
			<tr><td>ISBN</td><td>Accession Number</td><td>Location</td></tr>
			<tr><td>100</td><td>1000</td><td>800.20.36</td></tr>
		</table>

		<center><button type="button" class="btn btn-primary" ng-click="back()">Back</button></center>
</div>