<div ng-controller="requestbookclr">
<h1><center>Request book</center></h1>
		<table>
			<tr>
				<td><label>UniqueId</label></td>
				<td><input type="text" ng-model="uniqueid" placeholder="Enter ID"></input></td>
			</tr>
			<tr>
				<td><label>ISBN</label></td>
				<td><input type="text" ng-model="isbn" placeholder="Enter Book ISBN "></input></td>
			</tr>
			<tr>
				<td><label>Comment</label></td>
				<td><input type="box" ng-model="comment" placeholder="Comment"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit" class="btn btn-success" ng-click="requestbook()">Request Book</button>
				<button type="button" ng-click="cancell()">Cancell</button></td>
			</tr>
		</table>
</div>