<body>
    <div class="section no-pad-bot" id="index-banner" ng-controller="homeclr">
    <div class="container">
      <div class="row center">

        <div>
             <a ng-click="login()" id="login-button" class="btn-large waves-effect waves-light light-blue lighten-1 right"><strong>{{loginText}}</strong></a>
        </div>
           <br><br><br><br><br><br><br>

          <br>
          
          <div class="container-full">
            <nav>
                <div class="nav-wrapper">
                <form>
                    <div class="input-field white black-text">
                    <input autofocus="autofocus" id="search" placeholder="Search by title, author or subject" type="search" ng-model="searchBook" onkeydown = "if (event.keyCode == 13)
                        document.getElementById('search-button').click()" required>
                    <label for="search"><i class="material-icons blue-text lighten-1">search</i></label>
                    <i class="material-icons blue-text lighten-1" ng-click="clearText()">close</i>
                    </div>
                </form>
                </div>
            </nav>
        </div>
         
          <br>
          <br>

          
        <a ng-click="search()" id="search-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Search</strong></a>
          <br>
          <br>
        
        <center><h4 >{{searchText}}<h4></center>
      
        <center>
          {{tempText2}}<a href="" ng-click="SuggestionClick2()"> {{tempText}}</a>
        </center>
      </div>
      <br><br>

    </div>
  </div>
    
    
</body>