<body>

<div class="section no-pad-bot" id="index-banner" ng-controller="otherprofileclr">
    <div class="container center">
    
     <div class="row left">
          <a ng-click="back()" id="4-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Back</strong></a>
      </div>

      <div class="row right">
          <a ng-click="back()" id="4-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Logout</strong></a>
      </div>        

      <br><br>
      <br><br>

      <br>
      <table class="striped bordered centered" ng-hide="myValue3">
        <thead class="light-blue lighten-1">
            <tr><th>Book Title</th><th>Author</th><th>Publisher</th><th>More Details</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="books in booklist">
              <td>{{books.volumeInfo.title}}</td>
              <td><span ng-repeat="author in books.volumeInfo.authors">{{author}}, </span></td>
              <td>{{books.volumeInfo.publisher}}</td>
              <td><button ng-click="book($index)">More Details</button></td>
            </tr>
        </tbody>
      </table>

      <center ng-show="myValue3"><h4>You cann't see profile of this user</h4></center>

</div>
</div>
      <br><br><br>
<br>

</body>