
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Profile</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<!-- <center>UserID:<li>{{userid}}</li></center> -->
<div class="section no-pad-bot" id="index-banner" ng-controller="profileclr">
    <div class="container center">
        <div class="row right">

         <a ng-click="setting()" id="1-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Settings</strong></a>
          <a ng-click="requesthistory()" id="1-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Requested Book History</strong></a>
              <a ng-click="other()" id="2-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>See Other's Profile</strong></a>
                  <a ng-click="logout()" id="3-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>LogOut</strong></a>
      </div>
      <br><br>
      <br><br>
      <nav>
        <div class="nav-wrapper">
        <form>
            <div class="input-field white black-text">
            <input id="search" type="search" ng-model="searchBook" required>
            <label for="search"><i class="material-icons blue-text lighten-1">search</i></label>
            <i class="material-icons blue-text lighten-1">close</i>
            </div>
        </form>
        </div>
        
      </nav>
      <br>
      <a ng-click="search()" id="search-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Search</strong></a>
      <br><br><br>
      
      <center><h3>Currently Issued Book</h3></center>
      <table class="striped bordered centered">
        <thead class="light-blue lighten-1">
            <tr><td>Title</td><td>Author</td><td>DoI</td><td>DoExR</td><td>Fine</td><td>More Details</td></tr>
        </thead>
        <tbody>
            <tr ng-repeat = "book1 in currentissuedbooklist" >
              <td> {{currentissuedextbooklist[$index].volumeInfo.title}}</td>
              <td><span ng-repeat="author in currentissuedextbooklist[$index].volumeInfo.authors">{{author}}, </span></td>
              <td> {{book1.DoI | date:'dd/MM/yyyy'}} </td>
              <td> {{book1.DoExR| date:'dd/MM/yyyy'}} </td>
<!--               <td> {{book1.DoR| date:'dd/MM/yyyy'}} </td>
 -->              <!-- <td> {{book1.DoR | date:'dd/MM/yyyy'}}-{{book1.DoExR | date:'dd/MM/yyyy' }}</td> -->
              <td> {{days[$index]*5}}</td>
              <td><button ng-click="book($index)">More Details</button></td>
              
            </tr>
        </tbody>
      </table>

      <center><h3>History of Issued Book</h3></center>
      <table class="striped bordered centered">
        <thead class="light-blue lighten-1">
            <tr><td>Title</td><td>Author</td><td>DoI</td><td>DoExR</td><td>DoR</td><td>More Details</td></tr>

        </thead>
        <tbody>
            <tr ng-repeat = "book1 in booklist" >
              <td> {{extbooklist[$index].volumeInfo.title}}</td>
              <td><span ng-repeat="author in extbooklist[$index].volumeInfo.authors">{{author}}, </span></td>
              <td> {{book1.DoI | date:'dd/MM/yyyy'}} </td>
              <td> {{book1.DoExR| date:'dd/MM/yyyy'}} </td>
              <td> {{book1.DoR| date:'dd/MM/yyyy'}} </td>
              <!-- <td> {{book1.DoR | date:'dd/MM/yyyy'}}-{{book1.DoExR | date:'dd/MM/yyyy' }}</td> -->
               <td><button ng-click="book2($index)">More Details</button></td>
              
            </tr>

        </tbody>
      </table>

</div>
</div>

</body>
