<!DOCTYPE html>

<body>
  <div class="section no-pad-bot" id="index-banner" ng-controller="searchclr">
    
<div class="container center">
        <div class="row left">
          <a ng-click="back()" id="4-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Back</strong></a>
        </div>
</div>
    <br>
    <center>
        {{tempText}}<a href="" ng-click="SuggestionClick()"> {{didYouMean}}</a>
    </center>
    <br>
    <br>
    <br>
    <br>

    <br>

    <div class="container">
    <div ng-hide="myValue">  
      <br/>
      <table class="striped bordered centered " >
        <thead class="light-blue lighten-1 shades-text text-white">
            <tr><th>Book Title</th><th>Author</th><th>Publisher</th><th>More Details</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="books in ourResult"> 
              <td>{{books.volumeInfo.title}}</td>
              <td><span ng-repeat="author in books.volumeInfo.authors">{{author}}, </span></td>
              <td>{{books.volumeInfo.publisher}}</td>
              <td><button ng-click="book($index)">More Details</button></td>
            </tr>
        </tbody>
      </table>
      <br/>
      <br/>
      <h6><center><b>We couldn't find the following books in the RC. Were you looking for these?</b></center></h6>
      <br/>
      <table class="striped bordered centered">
        <thead class="light-blue lighten-1 shades-text text-white">
            <tr><th>Book Title</th><th>Author</th><th>Publisher</th><th>More Details</th><th>Request Book</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="books in requestBooks">
              <td>{{books.volumeInfo.title}}</td>
              <td><span ng-repeat="author in books.volumeInfo.authors">{{author}}, </span></td>
              <td>{{books.volumeInfo.publisher}}</td>
              <td><button ng-click="bookMore($index)">More Details</button></td>
              <td><button ng-click="request($index)">Request Book</button></td>
            </tr>
        </tbody>
      </table>
      
      </div>
    </div>
  </div>

<br><br>

 
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
